<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" name="text" [(ngModel)]="text" placeholder="Add a log" />
    </div>
    <input type="submit" value="Add Log" class="btn btn-light" [disabled]="!this.text" />
    <button (click)="clearState()" type="button" class="btn btn-warning" [hidden]="!this.text">
      Clear
    </button>
  </form>
</div>
